In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

<h1> Creative Programming Assignment 1 </h1>

<h2> By Fritz Duverglas </h2>

<h3> Description of dataset: </h3> This dataset is about the cost of insurance for around 1300 different people in the U.S. based on certain factors (age, sex, bmi, etc.)

<h3> The link to the dataset: </h3> 

https://www.kaggle.com/mirichoi0218/insurance

<h3>How to download the dataset: </h3> There is a download button on the right side of the page, but you need to create an account for Kaggle to actually download the csv file.

<h3> Questions: </h3>

1. Is there a correlation between region and how many children a person have and their insurance charges?
2. Is there a correlation between insurance charges and bmi?

<h1> Load Data Into Pandas Dataframe and Use Describe </h1>

In [2]:
df = pd.read_csv('insurance.csv')
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

<h1> Print Column Array and Index Array </h1>

In [3]:
list(df.columns)

['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges']

In [ ]:
list(df.index)

<h1> Simple Plot on Part of Data </h1>

In [ ]:
df2 = df[df['age']==18]
df2['charges'].plot()

<h1> Pivot Table and Plot From Table </h1>

In [ ]:
column = 'charges'

df2 = pd.pivot_table(df, values=column, index=["age"], columns=["smoker"])
df2.head()

In [ ]:
df2.plot(figsize=(15,10))
plt.grid()
plt.title('Changes in insurance charges based on age and if they smoke')
plt.xlabel('Age')
plt.ylabel('Insurance Charges')

<h1> Use Groupby Feature </h1>

In [ ]:
dfgroup = df.groupby(['region'])['age'].plot(figsize=(15,10))

<h1> Question 1: </h1>

Is there a correlation between region and how many children a person have and their insurance charges?

In [ ]:
column = 'charges'

df2 = pd.pivot_table(df, values=column, index=["children"], columns=["region"])
df2.plot(figsize=(15,10))
plt.grid()
plt.title('Changes in insurance charges based on number of children and region')
plt.xlabel('# of children')
plt.ylabel('Insurance Charges')

<h1> Question 2: </h1>

Is there a correlation between insurance charges and bmi?

In [ ]:
column = 'charges'

df2 = pd.pivot_table(df, values=column, index=["bmi"])
df2.plot(figsize=(15,10))
plt.grid()
plt.title('Changes in insurance charges based on bmi')
plt.xlabel('BMI')
plt.ylabel('Insurance Charges')

<h1> Discussion </h1>